* {
    margin:0px;
    padding:0px;
}

.creator {
    background-color: rgb(131, 131, 131);
    padding: 30px,30px;
    margin: 0px;
    position: fixed;
    bottom: 00px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(50,40,38);
    color: white;
}
.container {
    text-align: center;
}
button {
    padding: 10px;
    margin: 3px;
    
}

:root {
    background-color: rgb(170,161,139) ;
}
a:visited {
    color: inherit;
    
}
a {
    text-decoration: none;
}