* {
    margin:0px;
    box-shadow: 0 0 0 2px inset;
    padding:0px;
    box-sizing: border-box;
}
:root {
    background-color: rgb(170,161,139) ;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 10fr 1fr;
}
.main{
    display: flex;
    justify-content: center;
}
.calculator {
    margin: 1rem;
    width: 350px;
    padding: 1rem;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 10px;
    margin: 3px;  
}
.creator { 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(50,40,38);
    color: white;
}
a:visited {
    color: inherit;
    
}
a {
    text-decoration: none;
}




