* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face {
	font-family: "digital-7";
	src: url(./styles/digital-7.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@font-face {
	font-family: "ShareTechMono-Regular";
	src: url(./styles/ShareTechMono-Regular.ttf);
}

:root {
	font-family: "Roboto", sans-serif;
	--main-color: rgb(170, 161, 139);
	background-color: var(--main-color);
	--secondary-color: rgb(50, 40, 38);
	--button-color: rgb(99, 92, 75);
}

.content {
	display: grid;
	height: 100vh;
	grid-template-rows: 10fr 1fr;
}
.main {
	display: flex;
	justify-content: center;
}
.calculator {
	margin: 1rem;
	background-color: rgba(234, 237, 231, 255);
	border-radius: 8px;
	padding: 2.5rem;
	height: 500px;
	display: grid;
	grid-template-rows: 1fr 3fr repeat(6, 2fr);
}
input,
textarea {
	color: #332222;
	border-radius: 3px;
	background-color: var(--main-color);
	font-weight: 500;
	font-size: 3rem;
}
.row #title {
	font-family: "ShareTechMono-Regular";
	font-size: 1.2rem;
	margin-bottom: 4px;
	color: var(--main-color);
	font-weight: 900;
}
::placeholder {
	color: var(--secondary-color);
}
#input {
	display: flex;
	justify-content: end;

	padding-left: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-right: 1rem;
	color: var(--main-color);
	background-color: rgb(50, 40, 38);
	border-radius: 4px;
}
.row input {
	font-family: "digital-7", sans-serif;
	font-size: 2rem;
	padding: 6px;
	text-align: end;
}
.row {
	display: flex;
	margin: 2px;
}
button {
	padding: 10px;
	margin: 3px;
	flex: 1;
	border: none;
	background-color: var(--button-color);
	border-radius: 0.7rem;
	border-color: inherit;
	color: white;
	font-size: 16px;
	font-weight: 600;
}
#operand {
	background-color: var(--main-color);
}
#equal {
	background: rgb(251, 99, 59);
}
#love {
	background-color: inherit;
	color: rgb(251, 99, 59);
	font-size: 2rem;
	font-weight: 600;
}
.creator {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: var(--secondary-color);
	color: white;
}
a:visited {
	color: inherit;
}
a {
	text-decoration: none;
	color: white;
}
